<% content_for(:html_title) { "Quizzes Index" } %>
<% breadcrumb :quizzes, @quizzes %>
<div class="quiz_index">
  <ul class="tab_wrapper">
    <%= render partial: 'tab', collection: @levels, as: :level %>
  </ul>
  <div class="panel_wrapper">
    <%= render partial: 'panel', collection: @levels, as: :level %>
  </div>
</div>
<%= javascript_include_tag 'score_record.js' %>
<%= javascript_include_tag 'show_charts.js' %>