<% content_for(:html_title) { "Quiz - #{@category.name}" } %>
<% breadcrumb :show_category, @category %>
<div class="quiz_wrapper">
  <div class="blackboard-box">
    <p id="quizCount"></P>
    <div id="question"></div>
  <div class="chalk1"></div>
  <div class="chalk2"></div>
  </div>
  <div class="choicesContents">
    <ul id="choices"></ul>
    <div id="quiz_btn" class="quizAction disabled">Next</div>
  </div>
</div>
<%= javascript_include_tag 'quiz.js' %>
<%= javascript_include_tag 'show_charts.js' %>