<div class="inner_header right">
  <%= link_to announcements_path, class: "announce_link" do %>
    <div class="announcements_link_box inline">
      <p>Announcements</p>
      <p class="unread_announce_count center"><%= @unread_announcements_count.nonzero? %></p>
    </div>
  <% end %>
  <div class="inline">
    <%= render "user_menu_btn" %>
  </div>
</div>
<p class="title bold">Japanepa.com!</p>