<div class="new_infomation_contents">
  <ul class="tab_wrapper">
    <li class="tab is-active inline bold">New Information</li>
    <li class="tab inline bold">Calender</li>
  </ul>
  <div class="panel_wrapper">
    <div class="panel is-show new_information">
      <table class="new_info_index">
        <%= render partial: "information/info", collection: @information, as: :info %>
      </table>
      <p class="right"><%= link_to "See More", information_index_path, class: "see_more" %></p>
    </div>
    <div class="panel">
      <%= render "calendar" %>
    </div>
  </div>
</div>