
  <div class="wrapper">
    <div class="row red">

      <div class=" card col-xs-6 ">
        <div class="red">
        <h1 class="text-center">question</h1>
        <p class="text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to "", questions_path,class: "jump" %>
        </div>
      </div>

      <div class="card col-xs-6" >
        <div class="bg-warning">
        <h1 class="card-title text-center">score</h1>
        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to "score","#", class: "jump"  %>
        </div>
      </div>
    </div>
    
    <div class="row ">

      <div class=" card col-xs-6 ">
        <div class="blue">
        <h1 class="text-center">News</h1>
        <p class="text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to "","#",class: "jump" %>
        </div>
      </div>

      <div class="card col-xs-6" >
        <div class="orange">
        <h1 class="card-title text-center">ranking</h1>
        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to "score","#", class: "jump"  %>
        </div>
      </div>
    </div>


  </div>




