<div class="breadcrumbs">
  <%= icon("fas", "map-marker-alt") %> 
  <span>Home</span>
</div>
<div class="main_wrapper">
  <div class="contents_wrapper shadow">
    <div class="contents_icon">
      Q
    <div>
    <p class="contents_title center">- Quiz -</p>
    <div class="contents_feature">
      <p>
        You can play Japanese Quiz<br>
        The Quizzes includes Vocabulary, Grammer, Reading.<br>
        We can help your mastering japanese language.
        We are planing to add more Quizzes.
    <div>
  </div>
  <div class="contents_wrapper shadow">
    <div class="contents_icon">
      A
    <div>
    <p class="contents_title center">- Article -</p>
    <div class="contents_feature">
      <p>
        We post information about Japan<br>
        Study, Work, life-style, Entertainment
    <div>
  </div>
  <div class="contents_wrapper shadow">
    <div class="contents_icon">
      C
    <div>
    <p class="contents_title center">- Community -</p>
    <div class="contents_feature">
      <p>
        Mike Friends and Learn japanses together<br>
        The Quizzes includes Vocabulary, Grammer, Reading.<br>
        We can help your mastering japanese language.
        We are planing to add more Quizzes.
    <div>
  </div>
  <div class="contents_wrapper shadow">
    <div class="contents_icon">
      Q
    <div>
    <p class="contents_title center">- Quiz -</p>
    <div class="contents_feature">
      <p>
        You can play Japanese Quiz<br>
        The Quizzes includes Vocabulary, Grammer, Reading.<br>
        We can help your mastering japanese language.
        We are planing to add more Quizzes.
    <div>
  </div>

</div>
quiz
article
community
talk
profile



