<% content_for(:html_title) { 'Edit Event' } %>
<% breadcrumb :edit_event, @event %>
<p class="admin_form_title">Edit Event</p>
<div class="form_wrapper">
  <p class="right">
    <%= link_to admin_event_path(@event, from_calendar: @from_calendar), class: "delete_btn inline", data: { confirm: 'この記事を削除しますか?' }, method: :delete do %>
      <%= icon("fas", "trash-alt") %> 削除
    <% end %>
  </p>
  <%= render partial: 'form', locals: { event: @event, from_calendar: @from_calendar, form_btn: "編集" } %>
</div>