<% content_for(:html_title) { 'Event Form' } %>
<% breadcrumb :new_event, @event %>
<p class="admin_form_title">Create Event</p>
<div class="form_wrapper">
  <%= render partial: 'form', locals: { event: @event, form_btn: "新規作成" } %>
</div>