<% content_for(:html_title) { "Sign Up" } %>
<div class="register_form_wrapper">
  <h3 class="center">~ Sign Up ~</h3>
  <div class="provider">
    <%= render 'social_login', action: "Sign Up" %>
  </div>
  <%= render 'register_form', button: "Sign Up" %>
  <p class="right">Are you already signed up? <%= link_to "Log in ", new_session_path(resource_name) %></p>
</div>