<div class="comment_form">
  <%= form_with model: @comment do |f| %>
    <%= f.text_area :contents, id: "comment_form_#{talk.id}", placeholder: "Comment ...." %>
      <p class="error_message_#{comment.id}"></p>
    <%= f.hidden_field :talk_id, value: talk.id %>
    <%= f.submit "Comment" %>
  <% end %>
</div>