<%= form_with model: category, builder: CustomFormBuilder, local: true do |f| %>
  <div class="field" >
    <%= f.text_field :name ,id: 'form_input' %>
  </div>
  <div class="form_btn">
    <%= f.submit '変更',id: 'form_btn'%>
  </div>
<% end %>