<%= form_with model: quiz_category, builder: CustomFormBuilder do |f| %>
  <%= hidden_field_tag :parent_id, @parent.id if @parent.present? %>
  <div class="field" >
    <%= f.text_field :name ,id: 'form_input' %>
  </div>
  <div class="form_btn">
    <%= f.submit '作成',id: 'form_btn'%>
  </div>
<% end %>