
<h1>Articles index </h1>
<% if admin_signed_in? %>
  <div>
    <p><%= link_to "Create New article", new_admin_article_path %></p>
  </div>
<% end %>
<div class="main">
  <div class="article_index jscroll ">
    <%= render 'index' %>
  </div>
</div>
<div class="side-bar">
  <div>
  </div>
</div>
