<% content_for(:html_title) { "Article-#{@article.title}" } %>
<div class="article_section">
  <div>
    <p><%= image_tag @article.img ,class:"top_img" %></p>
  </div>
  <div class="article-contents">
    <p class="posted-time"><%= @article.created_at.strftime('%Y/%m/%d') %></p>
    <h1><%= @article.title %></h1>
    <hr>
    <div>
      <%= raw(@article.contents) %>
    </div>
  <div>
</div>

