<div class="article_img_wrapper">
  <% if article.img.attached? %>
    <p><%= image_tag article.img, class:"thumbnail_img" %></p>
  <% else %>
    <div class="inline thumbnail_panel <%= thumbnails_color(article) %>">
      <p>Japanepa</p>
    </div>
  <% end %>
</div>
