<%= link_to article_path(article) do %>
  <div class="inner_article">
    <%= render "article_img", article: article %>
    <p class="inner_article_title inline"><%= article.title %></p>
  </div>
<% end %>
