<%= link_to article_path(article) do %>
  <div class="inner_article">
    <p class="inline"><%= image_tag article.img ,class:"thumbnails" %></p>
    <p class="inner_article_title inline"><%= article.title %></p>
  </div>
<% end %>
