<h1>Articles index </h1>
<div class="section_wrapper">
  <div class="main_section">
    <div class="article_index jscroll">
      <% if @articles.present? %>
        <%= render partial: 'article', collection: @articles, as: :article %>
        <%= paginate @articles %>
      <% else %>
        <p class="center">No...article</p>
      <% end %>
    </div>
  </div>
  <div class="side_section">
   <%= render 'side_section' %>
  </div>
</div>