<h1>Articles index </h1>

<% if admin_signed_in? %>
  <div>
    <p><%= link_to "Create New article", create_articles_path %></p>
  </div>
<% end %>

<div class="index-wrapper jscroll">
  <%= render 'index' %>
</div>
