<% content_for(:html_title) { "Quiz Form" } %>
<% breadcrumb :new_quiz, @quiz %>
<div class="form_wrapper">
  <div>
    <div class="field">
      <p class="bold">Level</p>
      <select id="select_level" class="index">
      <option>選択してください</option>
        <%= render partial: 'option', collection: @options, as: :option %>
      </select>
    </div>
    <div class="field">
      <p class="bold">Secton</p>
      <select id="select_section">
        <option></option>
      </select>
    </div>
  </div>
  <%= render partial: 'form', locals: { quiz: @quiz, form_btn: "新規作成" } %>
</div>
