<div class="action_talk_btn">
  <% if own_talk?(talk) %>
    <p class="inline">
      <%= link_to edit_talk_path(talk, talk: { community_id: talk.community.id }), remote: true do %>
        <%= icon("fas", "edit") %>
      <% end %>
    </p>
    <p class="inline">
      <%= link_to talk_path(talk, talk: { community_id: talk.community.id }), remote: true, data: { confirm: 'Delete this post?' }, method: :delete do %>
        <%= icon("fas", "trash-alt") %>
      <% end %>
    </p>
  <% end %>
</div>