<ul class="talk_info">
  <li class="inline"><%= link_to community_path(talk.community_id) do %>
        <%= talk.community.name %>
      <% end %>
  </li>
  <li class="posted_time inline">
    Posted by <%= link_to talk.user.name, user_path(talk.user) %> 
    <%= time_ago_in_words(talk.created_at) %> ago
    </li>
</ul>