
<div class="row">
  <div class ="col-lg-3 container hidden" id="form_talk">
  </div>
  <div class="col-lg-6 jscroll" id="talk_index">
    <%= render 'index' %>
  </div>
  <div class="col-lg-3 create_community">
    <p>Come here to check in with your favorite communities.</p>
    <% if past_30days_after_signIn? %>
      <%= link_to "create community" ,create_community_path %>
    <% end %>
    <%= link_to "check communities" ,communities_path %>
  </div>
</div>
