<% content_for(:html_title) { "Create Talk " } %>
<% if @community_page %>
  <%= render 'breadcrumbs', action: "New" %>
<% else %>
  <% breadcrumb :new_talk, @talk %>
<% end %>
<p class="form_title">Create Talk</p>
<div class="form_wrapper">
  <%= render partial: 'form', locals: { talk: @talk, communities: @communities, action: 'Post' } %>
</div>
<div class="hidden user_menu_section">
  <%= render 'user_menu_in_mobile' %>
</div>
<div class="user_menu_section talk_page hidden">
  <%= render 'side_section' %>
</div>