<%= link_to '戻る', articles_path %>
<div class="talk_container">
    <%= render partial: 'talk', locals: {talk: @talk} %>
  <div id="comment_form">
    <%= render partial: 'comments/comments_form' %>
  </div>
  <div id="comments_index" class="comment_container jscroll scroll_list" >
    <%= render partial: 'comments/comments' %>
  </div>
</div>