<ul class="breadcrumbs_list">
  <li><%= link_to "クイズカテゴリー TOP", levels_admin_quiz_categories_path %></li>
  <%= render partial: 'breadcrumbs_list', collection: ancestors, as: :ancestor %>
</ul>
<p class="parent_name center"><%= parent.name %></p>
<%= render partial: 'edit_quiz_category_form', locals: {category: parent} %>
