<p class="category_new">
  <span><%= "※ ドラッグ＆ドロップで並び替え" unless title_index?(parent) %></span>
  <% if title_index?(parent) %>
    <%= link_to 'NEW', new_quiz_admin_quiz_category_path(parent), class: 'quiz_create_btn', remote: true %>
  <% elsif @parent.present? %>
    <%= link_to 'NEW', new_category_admin_quiz_category_path(parent), class: 'category_create_btn', remote: true %>
  <% else %>
    <%= link_to 'NEW', new_level_admin_quiz_categories_path, class: 'category_create_btn', remote: true %>
  <% end %>
</p>