<div class="event_detail_wrapper">
  <p class="event_date center">
    <%= event.start_time.strftime('%Y/%m/%d') %>
    <%= show_event_date(event) %>
  </p>
  <p class="event_name"><%= event.name %></p>
  <div class="event_detail">
    <%= raw(event.detail) %>
  </div>
</div>