<% content_for(:html_title) { 'Calendar' } %>
<% breadcrumb :calendar, @events %>
<div class="calendar_wrapper">
  <%= render 'calendar' %>
</div>
<div class="user_menu_in_mobile hidden">
  <%= render "user_menu_in_mobile" %>
</div>