<% content_for(:html_title) { 'Information Form' } %>
<% breadcrumb :new_information, @info %>
<div class="form_wrapper">
  <h1 class="center">Information Form</h1>
  <%= render partial: 'form', locals: { info: @info, form_btn: "新規作成" } %>
</div>