<% content_for(:html_title) { 'Announcement Form' } %>
<% breadcrumb :new_announcement, @announce %>
<p class="admin_form_title">Create Announce</p>
<div class="form_wrapper">
  <%= render partial: 'form', locals: { announce: @announce, form_btn: "新規作成" } %>
</div>