<% content_for(:html_title) { "Community Form" } %>
<h1>Create Community</h1>
<div class="form_wrapper">
  <%= render partial: 'form', locals: { community: @community } %>
</div>
<%= javascript_include_tag "community" %>