<div class="head">
  <h1>Log in to Japanepa.com ! </h1>
</div>
<div class="login_wrapper white">
  <ul class="login_block">
    <li class="inline">
        <div class="provider">
          <%= render 'devise/shared/social_login' %>
        </div>
    </li>
    <li class="inline">
        <div class="login_form" >
          <%= render 'login_form' %>
        </div>
    </li>
  </ul>
</div>