@import "bootstrap";

/* ====== index =====
1. COMMON
2. HOME
  2.1 HEADER
  2.2 FOOTER
  2.3 MODAL
  2.4 FLASH
infinite scroll
QUEZ CATEGORY
/* ------------------------------
color
------------------------------ */
$red: #F29073;
$pink: #F2928D;
$blue: #75C2F8;
$deep_blue: #0089e0;
$green: #7FC24E;
$yellow: #F8C677;
$orange: #F39653;
$white : #fff;

@mixin shadow {
  box-shadow: 0 10px 20px -5px rgba(0,0,0,.2);
  -moz-transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  transition: 0.2s linear;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
/* ------------------------------
1. COMMON
------------------------------ */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border-style: initial;
	-webkit-text-size-adjust: 100%;
}
html,body {
	height: 100%;
	width: 100%;
}
body {
  font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
	line-height: 2;
}
a {
	text-decoration: none !important;
	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;
}
a:hover {
  opacity: .6;
}
img {
	height: auto;
  max-width: 100%;
  object-fit: cover;
}
input, button, select, textarea {
	-webkit-appearance: none;
}
p, h1, h2, h3,h4, ul, li {
	list-style: none;
	margin: 0;
  padding: 0;
  line-height: 1.3;
}
.inline {
  display:inline-block;
}
.hidden {
  display:none;
}
.show {
  display:block;
}
.pc {
  display:block;
}
.sp {
  display:none;
}
.font-s {
  font-size: 12px;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.bold {
  font-weight:bold;
}
.inline {
  display: inline-block;
}
.block {
  display: block;
}
.ui-helper-hidden-accessible {
  display: none;
}
body {
  margin: 0;
  padding: 72px 0 0 0;
  position: relative;
  background-color: #FEF5E1;
}
.main_wrapper {
  position:relative;
  min-height: calc( 100vh - 72px );
  color: gray;
}
.section_wrapper {
  width: 990px;
  margin: 0 auto;
}
.main_section {
  display: inline-block;
  width: 640px;
  vertical-align: top;
}
.page_title {
  margin-bottom: 25px;
  padding: 15px;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}
.side_section {
  display: inline-block;
  width: 312px;
  margin-left: 24px;
  vertical-align: top;
}
.side_section h4 {
  background: $red;
  color: $white;
  padding: 7px 15px;
}
.article_page h4 {
  background-color: $blue;
}
.talk_page h4 {
  background-color: $green;
}
.community_page h4 {
  background-color: $yellow;
}
.ranking_page h4 {
  background-color: $orange;
}
.side_content {
  background-color: $white;
  margin-bottom: 30px;
}
.side_inner_box {
  padding: 10px;
}
.side_content .tags {
  padding: 5px;
}
.side_content a {
  color: gray;
}
.search_form {
  position: relative;
  font-size: 16px;
}
.search_form input {
  padding: 5px 10px;
  background: $white;
  border: none;
}
.search_form button[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 23px;
  border: none;
  width: 40px;
  padding: 8px 5px;
  background: 0 0;
  font-family: "FontAwesome";
  font-size: 21px;
  color: gray;
}
.flag-icon {
  border: solid 0.5px #ccc;
}
.flag-icon-np {
  border: solid 0px $white;
}
.breadcrumbs {
  font-size: 20px;
  padding: 10px 0 20px 20px;
  a {
    color: gray;
  }
  a:hover {
    border-bottom: solid 1px gray;
  }
}
#to_top_btn_wrapper {
  margin-bottom: 30px;
  font-size: 60px;
}
.talk_top_btn {
  color: $green;
}
.article_rr_top_btn {
  color: $blue;
}
.create_btn, .join_btn {
  margin: 10px 50px;
  border: 3px solid gray;
}
.create_btn:hover, .join_btn:hover {
  background: gray;
  color: $white;
}
.like_btn {
  color:#E24E42;
  font-size: 20px;
}
.like_btn:hover {
  color: #E24E42;
}
.bookmark_btn {
  color: $yellow;
  font-size: 20px;
}
.bookmark_btn:hover {
  color: $yellow;
  opacity: .6;
}
.tab_wrapper {
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}
.tab_wrapper li {
  display: table-cell;
  vertical-align: middle;
}
.tab_wrapper li:hover {
  cursor: pointer;
}
.panel {
  display: none;
}
.tab_wrapper li {
  background-color: $white;
  color: #e7e7e7;
  border-bottom: 3px solid $red;
  padding: 10px 0;
}
.tab_wrapper .is-active {
  background: $red;
  color: $white;
}
.panel.is-show {
  display: block;
}
.action_menu_wrapper {
  .open_action_menu_btn, .close_action_menu_btn {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  }
  .open_action_menu_btn:hover, .close_action_menu_btn:hover {
    cursor: pointer;
    opacity: .7;
  }
  .close_action_menu_btn:hover {
    color: $red;
  }
  .action_menu {
    position: absolute;
    bottom: -55px;
    right: 0;
    width: 90px;
    background-color: $white;
    li {
      a {
        display: block;
        text-align: start;
      }
    }
  }
}
/*-------------
PAGINATION
--------------*/
.pagination  {
  margin-bottom: 30px;
  justify-content: center;
}
/*-------------
INFINITE SCROLL
--------------*/


/*---------------
HEADER
----------------*/
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  line-height: 1.5;
  font-size:48px;
  text-align: right;
}
.articles_header {
  background-color: $blue;
}
.quizzes_header {
  background-color: $pink;
}
.communities_header {
  background-color: $yellow;
}
.talks_header {
  background-color: $green;
}
.users_header {
  background-color: $orange;
}
.home_header {
  background-color: $red;
}
#logo {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  text-decoration: none;
  color: $white;
  font-size: 34px;
  font-weight: bold;
}
header >div {
  display: inline-block;
  cursor: pointer;
}
.header_link {
  position: relative;
  margin-right: 20px;
}
.header_link a {
  font-size: 26px;
  color:$white;
  vertical-align: middle;
  text-align: right;
}
.header_btn {
  display:inline-block;
  width: 48px;
  height: 48px;
  vertical-align: top;
  text-align: center;
}
.header_btn:hover {
  opacity: 0.65;
}
#header_quiz {
  width: 33px;
}
#header_news {
  width: 40px;
}
.fa-user-cog {
  font-size: 48px;
  color: #767676;
}
#header_user_img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.header_link .login {
  padding: 7px;
  border-radius: 3px;
  color:#767676;
}
.register_btn a {
  color:$white;
}
.header_link .register {
  background-color:#767676;
  padding: 7px;
  border: solid 3px #767676;
  border-radius: 3px
}
.menu_btn {
  position: relative;
}
.user_menu,.admin_menu {
  position: absolute;
  z-index: 30;
  text-align: start;
  font-size: 20px;
  bottom: -180px;
  right: 0;
  background-color: #999999;
  width: 200px;
  padding: 5px 0;
  display: none;
}
.admin_menu {
  bottom: -40px;
  right: 0;
}
.user_menu p, .admin_menu p {
  color:$white;
  font-size:20px;
  text-align:start;
  padding:0 10px;
}
.user_menu p:hover, .admin_menu p:hover {
  background-color:#767676;
  color:#61C359;
}
/*-----------
2.2 FOOTER
------------*/
footer {
  width:100%;
  height:100px;
  background-color:#767676;
  color:$white;
  text-align:center;
  display:table;
}
footer p {
  color:$white;
  font-size:20px;
  text-align:center;
  display:table-cell;
  vertical-align: middle;
}
/*---------------
2.3 MODAL
----------------*/ 
.modalArea {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.3);
}
.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 85%;
  padding: 60px 30px;
  background-color: $white;
}
#modal {
  color: gray;
}
.closeModal  {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  width:58px;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
  -webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;
}
.closeModal:hover {
  background-color: #E63631;
  color: $white;
}
#id {
  height:400px;
  width:400px;
}
button  {
  display:fix;
  padding: 10px;
  background-color: $white;
  border: 1px solid #282828;
  border-radius: 2px;
  cursor: pointer;
}
#openModal  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
.modalWrapper {
  overflow:scroll;
}
.flex {
  display:flex;
}
.score_modal {
  position: relative;
}
/*---------------
2.4 FLASH
---------------*/
#flash_wrapper {
  position:absolute;
  top:30px;
  left:50%;
    transform:translateX(-50%);
}
#flash {
  border:solid 1px #ccc;
  background-color:$white;
  padding:20px 40px;
  border-radius:5px;
  box-shadow: 0 5px 10px rgba(0,0,0,.5);
}
#flash {
  text-align:center;
  z-index:100;
}
.flash_message {
  font-weight: bold;
}
.fa-laugh {
  color:#94D83C;
  font-size:48px;
}
.fa-dizzy {
  color:#E63631;
  font-size:48px;
}
.notes {
  font-size: 10px;
}
/*---------------
Home FOR MEMBER
---------------*/
.upper_block, .admin_upper_block {
  height: calc( calc(100vh - 72px) * 0.6666 );
  display: flex;
}
.under_block {
  display: flex;
}
.menu_panel {
  display: flex;
  height: calc( calc(100vh - 72px) * 0.333333 );
  width: calc(100vw * 0.3333);
  font-size: 42px;
  color: $white;
  background-color: $white;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.menu_panel:after {
  width: 90%;
  height: 0;
  content:"";
  position: absolute;
  background-color: $white;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-webkit-transition: all linear 0.4s;
	transition: all linear 0.4s;
  z-index: -1;
}

.menu_panel:hover:after {
  height: 240%;
  opacity: 1;
}
.menu_panel:active:after {
  height: 380%;
  opacity: 1;
}
.panel_inner_box {
  width: 100%;
  display: flex;
}
.admin_upper_block .menu_panel {
  height: calc( calc(100vh - 72px) / 6 );
}
.service_status_panel, .new_information_panel {
  width: calc(100vw * 0.6666);
  overflow: scroll;
  padding: 15px;
}
.menu_name {
  width: 100%;
  margin: auto;
  i {
    font-size: 90px;
    margin: auto;
  }
}
.admin_upper_block i {
  font-size: 60px;
}
.quiz_panel {
  background-color: $pink;
  border: 6px solid $pink;
}
.quiz_panel:hover {
  color: $pink;
}
.article_panel {
  background-color: $blue;
  border: 6px solid $blue;
}
.article_panel:hover {
  color: $blue;
}
.talk_panel, .admin_talk_panel {
  background-color: $green;
  border: 6px solid $green;
}
.talk_panel:hover, .admin_talk_panel:hover {
  color: $green;
}
.community_panel {
  background-color: $yellow;
  border: 6px solid $yellow;
  font-size: 30px;
}
.community_panel:hover {
  color: #F9CD6C;
}
.ranking_panel, .users_panel {
  background-color: $orange;
  border: 6px solid $orange;
}
.ranking_panel:hover, .users_panel:hover {
  color: $orange;
}
.info_panel {
  background-color: #576875;
  border: 6px solid #576875;
}
.info_panel:hover {
  color: #576875;
}
.event_panel {
  background-color: #B8845D;
  border: 6px solid #B8845D;
}
.event_panel:hover {
  color: #B8845D;
}
/*---------------
EVENT
---------------*/
.show_calendar {
  position: absolute;
  top: 10px;
  right: 20px;
  color: gray;
}
.calendar_wrapper {
  width: 95%;
  margin: auto;
  .simple-calendar {
    .calendar-heading {
      .calendar-title {
        margin: 0 10px;
        font-size: 48px;
      }
      a {
        font-size: 24px;
      }
    }
    table {
      background-color: $white;
      td {
        padding-bottom: 5px;
      }
    }
    .day {
      height: 12vh;
      .event_name{
        color: $white;
      }
      .event_name:hover {
        transition: .2s;
      }
      position: relative;
      .new_event_btn {
        display: none;
        position: absolute;
        top: 0;
        right: 5px;
        a {
          color: gray;
        }
      }
      .new_event_btn a:hover {
        color: $red;
        cursor: pointer;
      }
    }
    .day:hover .new_event_btn {
      display: block;
    }
  }
}
/*---------------
CALENDAR
---------------*/
.calendar_thead {
  height: 10%;
}
.bootstrap-datetimepicker-widget.dropdown-menu {
  width: auto;
}
.calendar_table th {
  padding: 0;
  text-align: center;
  background: #767676;
  color: $white;
}
.calendar_table td {
  padding: 0;
}
.simple-calendar tbody {
  height: 90%;
}
.calendar-heading {
  height: 5%;
  min-height: 30px;
}
.calendar_thead {
  height: 16%;
}
.day_of_the_week {
  padding: 0;
}
.calendar_thead th {
  padding: 0;
}
.calendar table td {
  padding: 0;
}
.day {
  height: 14%;
  text-align: start;
  padding: 0 0 0 5px;
}
.simple-calendar .day:hover {
  font-weight: bold;
  font-size: 16px;
  cursor: default;
}
.today {
  color: red;
}
.event {
  color: $white;
  font-weight: normal;
  cursor: pointer;
}
.event_green {
  background-color: $green;
}
.event_green:hover {
  background-color: rgb(148, 231, 88);
}
.event_yellow {
  background-color: $yellow;
}
.event_yellow:hover {
  background-color: rgb(247, 227, 137);
}
.event_blue {
  background-color: $blue;
}
.event_blue:hover {
  background-color: rgba(117, 194, 248, 0.616);
}
.event_red {
  background-color: $pink;
}
.event_red:hover {
  background-color: rgba(242, 146, 141, 0.63);
}
.event_brown {
  background-color: #B8845D;
}
.event_brown:hover {
  background-color: rgb(228, 145, 82);
}
.event_detail_wrapper  {
  padding: 20px;
  .event_date  {
    font-size: 24px;
  }
  .event_name {
    margin-bottom: 10px;
    font-size: 24px;
    border-bottom: solid 3px #CCC;
  }
}
/*---------------
Home FOR NON-MEMBER
---------------*/
.top_content {
  position: relative;
  height: calc(100vh - 72px);
}
.top_content > div {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top_title {
  font-size: 48px;
}
.top_subtitle {
  font-size: 24px;
  margin-bottom: 20px;
}
.top_btn {
  font-size: 28px;
  padding: 10px 15px;
}
.login_btn {
  margin-right: 60px;
  background-color: $red;
  color: $white;
}
.login_btn:hover {
  color: $white;
  background-color: #eb704b;
}
.register_btn {
  border: 2px solid $red;
  color: $red;
}
.register_btn:hover {
  color: #eb704b;
  background-color: #f2917379;
}
.feature_box {
  display: flex;
  height: calc(100vh - 72px);
}
.feature_box > div {
  width: 50%;
  display: flex;
}
.feature_box:nth-child(even) {
  flex-direction: row-reverse;
  background-color: $white;
}
.feature_detail_box {
  font-size: 20px;
}
.detail_box, .contents_img {
  margin: auto;
}
.contents_img {
  height: 450px;
  width: 450px;
  border: 1px solid #ccc;
}
/*---------------
USER_PROFILE
---------------*/
.profile_wrapper {
  width: 60%;
  margin: 60px auto;
  background-color: $white;
}
.profile_detail {
  padding: 5%;
}
.profile_detail li {
  display: inline-block;
  margin-bottom: 30px;
  width: 45%;
  background: $white;
  border-left: 5px solid $orange;
  box-sizing: border-box;
  font-size: 30px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.profile_detail li:nth-child(odd) {
  margin-right: 5%;
}
.user_img_area {
  position: relative;
  width: 300px;
  margin: auto;
}
#no_user_img, #present_user_img, #new_user_img {
  border-radius: 50%;
  height: 100%;
  width: 300px;
  height: 300px;
  margin: auto;
}
#img_upload_btn {
  position: absolute;
  height: 60px;
  width: 60px;
  bottom: 10%;
  right: 5%;
  background: $blue;
  color: $white;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit_profile_btn {
  padding-top: 10px;
}
#edit_profile_btn {
  margin: 0 10px 15px 0;
  padding: 5px 10px;
  background-color: $orange;
  color: $white;
}
#delete_account {
  margin: 5px;
  color: #ccc;
}
/*---------------
COMMON FORM
---------------*/
.form_wrapper {
  width: 75%;
  margin: 30px auto;
  padding: 25px;
  background-color: $white;
}
.form_wrapper label {
  font-weight: bold;
}
.form_wrapper h1 {
  margin-bottom: 20px;
}
form {
  font-size: 14px;
}
.field {
  margin-bottom: 20px;
}
input, textarea, .tag_input {
  display: block;
  width: 100%;
  padding-left: 5px;
  border-bottom: solid 1.3px #ccc;
  background-color: #F8F8F8;
}
select {
  width: 100%;
  display: block;
  padding-left: 5px;
  border-bottom: solid 1.3px #ccc;
  border-radius: 0px;
}
input:focus, select:focus, textarea:focus {
  border-bottom: solid 1.3px #FCAA00;
  outline: none;
  // background-color:rgba(249, 166, 0, 0.3);
  transition: 0.3s;
}
input[type="submit"], .upload_btn {
  width: 120px;
  margin: 0 auto 15px;
  color: $white;
  background-color: $deep_blue;
  cursor: pointer;
}
.comments_wrapper {
  textarea {
    background-color: $white;
  }
}
.comment_form {
  input[type="submit"] {
  margin: 5px 0 0 auto;
  }
}
.error_message {
  margin-bottom: 5px;
  font-size: 24px;
  color: #FF5722;
}
.help-block {
  color:#FF5722 !important;
}
.post_img_area, #present_img, #new_img, #no_img {
  width: 300px;
  margin-bottom: 20px;
}
#new_img {
  background-color: $white;
  border: 1px solid #ccc;
}
#input_img {
  display: none;
}
label input {
  display: none;
}
.inline_radio {
  display: flex;
  margin-bottom: 30px;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #b6b6b6;
  div {
    position: relative;
    flex: 1;
    font-size: 40px;
  }
  div:hover {
    cursor: pointer;
  }
  input  {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  label {
    position: absolute;
    top: 0; left: 0;
    color: #b6b6b6;
    width: 100%;
    height: 100%;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    border-right: 1px solid #b6b6b6;
  }
  div:last-child label {
    border-right: 0;
  }
  input:checked + label {
    background: $red;
    font-weight: 500;
    color: $white;
  }
  input:hover {
    cursor: pointer;
  }
}
#cancel_img_btn, #delete_img_btn {
  margin-left: 20px;
}
#cancel_img_btn:hover, #delete_img_btn:hover {
  color: $red;
  cursor: pointer;
}
/*---------------
USER_FORM ADMIN_FORM
---------------*/
.login_form_wrapper, .register_form_wrapper {
  width: 600px;
  margin: 60px auto;
  padding:30px 60px;
  background-color: $white;
}
.provider {
  margin: 15px 0;
}
/*---------------
QUIZ_FORM
---------------*/
.quiz_form_wrapper .note-editor {
  height: 150px;
}
/*-----------
Ranking(Users)
------------*/
.user_ranking_wrapper  {
  width: 90%;
  margin: auto;
  background-color: #fff;
  .ranking_title {
    background-color: $orange;
    color: $white;
  }
  .your_ranking  {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  }
  .user_ranking  {
    padding: 2%;
    .user_ranking_info  {
      padding: 20px 0;
      color: gray;
      font-size: 24px;
      p  {
        display: inline-block;
      }
      .user_rank_number  {
        .fa-crown {
          font-size: 28px;
        }
      }
      #top_1 .fa-crown {
        color: #efb700;
      }
      #top_2 .fa-crown {
        color: #b9c7c9
      }
      #top_3 .fa-crown {
        color: #C47022;
      }
      .user_rank_number  {
        width: 15%;
      }
      .name  {
        width: 55%;
      }
      .experience  {
        width: 28%;
      }
    }
    .user_ranking_info:hover  {
      @include shadow;
    }
  }
  .user:hover {
    background-color: #e6e6e6;
  }
  .user a {
    padding: 15px;
  }
}

.user .edit_button {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right: 10px;
  font-size: 20px;
  color: #388abd;
}
.user .edit_button:hover {
  color: $white;
  background-color: #388abd;
}
/*-----------
TALKS
------------*/
.talk_wrapper {
  background-color: $white;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
.talk_head {
  font-size: 12px;
}
.talk_head a {
  font-weight: bold;
  color: $blue;
}
.talk_head a:hover {
  opacity: .6;
}
.talk_content_wrapper {
  margin: 10px 0;
  color: rgb(95, 95, 95);
}
.talk_content {
  font-size: 18px;
}
.talk_content a:hover {
  text-decoration: underline;
}
.talk_btns li, .talk_head li {
  display: inline-block;
  margin-right: 5px;
}
.comment_btn a, .like_btn a {
  text-decoration: none;
}
.comment_btn
  a {
  color: $blue;
}
.comment_btn:hover {
  cursor: pointer;
  opacity: .7;
}
.warn_sentence {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 3px;
}
.community_btn {
  margin: 10px 50px;
  border: 3px solid $yellow;
}
.community_btn:hover {
  background: $yellow;
  color: $white;
}
/*---------------
ADMIN talk
----------------*/ 
.admin_talk_wrapper {
  width: 50%;
  min-width: 500px;
  margin: 30px auto;
  padding: 5px;
  background-color: $white;
}
/*---------------
talk comment
----------------*/ 
.comments_wrapper {
  margin-left: 20px;
  padding: 10px;
  background-color: #f5f4f4;
  .comment_form {
    margin-bottom: 25px;
  }
}
.comment {
  margin-bottom: 25px;
  .comment_info {
    position: relative;
  }
  .comment_contents {
    padding: 10px 0 0 5px;
  }
}
.comment_text {
  margin:10px 0 1% 60px;
}
.comment_user {
  color: $green;
}
.comment_btn {
  color: #ccc;
}
.edit_delete_btn {
  position: absolute;
  bottom:5px;
  right:5px;
  font-size:24px;
}
/*-----------
TAG
------------*/
.tags li  {
  display: inline-block;
}
.tags a  {
	line-height: 26px;
	position: relative;
	display: inline-block;
	height: 26px;
	margin: 0 0px 10px 10px;
	padding: 0 20px 0 20px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
	text-decoration: none;
	color: $white;
	border-radius: 0 3px 3px 0;
	background:  $deep_blue;
}
.tags a::before, .tags a::after  {
	background: #fafcfc;
}
.tags a::before  {
	position: absolute;
	top: 10px;
	left: 3px;
	width: 6px;
	height: 6px;
	content: '';
	border-radius: 10px;
}
.tags a::after  {
	position: absolute;
	top: -1px;
	left: -6px;
	width: 0;
	height: 0;
	content: '';
	border-style: solid;
	border-width: 14px 8px 14px 0;
	border-color: transparent  $deep_blue transparent transparent;
	border-radius: 4px;
}
.tags a:hover  {
	background: #555555;
}
.tags a:hover:after  {
	border-color: transparent #555555 transparent transparent;
}
/*---------------
INFORMATION
----------------*/
.information_index_wrapper {
  width: 75%;
  margin: 108px auto;
}
.information_index_wrapper h1 {
  background-color: #576875;
  color: $white;
}
.information_index {
  text-align: start;
}
.new_info_index {
  text-align: start;
}
.new_info_index td:first-child {
  width: 15%;
  padding-left: 15px;
}
.info td:nth-child(2) {
  width: 10%;
}
.info:nth-child(even) {
  background-color: #e7e7e7;
  transition: all linear 0.2s;
}
.info:hover {
  opacity: .6;
  background-color: rgba(242, 145, 115, 0.459);
}
.label_new {
  color: #F53240;
}
.see_more {
  color: $red;
}
.see_more:hover {
  color: $red;
  opacity: .5;
}
/*---------------
QUIZ INDEX
----------------*/
.quiz_index, .admin_quiz_wrapper {
  width: 95%;
  margin: auto;
}
.quiz_index {
  background-color: $white;
  .tab_wrapper li {
    border-bottom: 3px solid $pink;
  }
  .tab_wrapper .is-active {
    background: $pink;
  }

}
.narrow_down, .quizzes_list {
  background-color: $white;
}
.narrow_down {
  margin: 60px 0 30px;
}
.question {
  word-break: break-all;
}
.ac_btn {
  padding: 5px;
}
.ac_btn:hover {
  cursor: pointer;
  background-color: #4DC0EF;
}
.category_link {
  margin-top: 18px;
  font-size: 12px;
}
/*---------------
QUIZ PLAY
----------------*/
.quiz_wrapper {
  width: 80%;
  margin: auto;
}
.blackboard-box {
  position: relative;
  background: #104300;
  min-height: 150px;
  margin-bottom: 60px;
  padding: 0.5em 0.5em 0 0.5em;
  color: $white;
  border: 8px solid #a60;
  box-shadow: 2px 2px 4px #999, 2px 2px 2px #020 inset;
}
.chalk1 {
  position: absolute;
  bottom: 0px;
  display: block;
  margin-top: 10px;
  margin-left: 90%;
  border: solid 3px $white;
  width: 15px;
  border-radius: 3px 2px 0 2px;
}
.chalk2 {
  position: absolute;
  bottom: 0px;
  display: block;
  margin-top: -6px;
  margin-left: calc(90% - 30px);
  border: solid 3px #ffee58;
  width: 20px;
  border-radius: 3px 2px 0 2px;
}
#question {
  width:100%;
  margin:atuo;
  text-align: center;
  font-weight: bold;
}
#quizCount {
  width:100%;
  text-align:right;
}
#question  {
  margin-bottom: 16px;
  font-weight: bold;
}
#choices  {
  list-style: none;
  padding: 0;
  margin-bottom: 16px;
  font-size: 24px;

  #choice_1 {
    border-top: 2px solid $pink;
    border-bottom: 2px solid $pink;
    border-left: 10px solid $pink;
    border-right: 10px solid $pink;
  }

  #choice_2 {
    border-top: 2px solid $blue;
    border-bottom: 2px solid $blue;
    border-left: 10px solid $blue;
    border-right: 10px solid $blue;
  }

  #choice_3 {
    border-top: 2px solid $yellow;
    border-bottom: 2px solid $yellow;
    border-left: 10px solid $yellow;
    border-right: 10px solid $yellow;
  }
  
  #choice_4 {
    border-top: 2px solid $green;
    border-bottom: 2px solid $green;
    border-left: 10px solid $green;
    border-right: 10px solid $green;
  }

  li  {
    background-color: $white;
    text-align: center;
    margin-bottom: 15px;
    border-left: double 7px #4DC0EF;
    border-right: double 7px #4DC0EF;
    cursor: pointer;
  }
  li:hover  {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  }
  .correct_box {
    color: #388abd;
    font-weight: bold;
  }
  .correct::before  {
    font-family: "Font Awesome 5 Free";
    content: "\f59a  YEAH!! YOU GOT IT !!! \f59a";
  }
  .wrong_box {
    color: #ff5a5d;
    font-weight: bold;
  }
  .wrong::before {
    font-family: "Font Awesome 5 Free";
    content: "\f714 UHH.. INCORRECT... \f714";
  }
}
.choice {
  font-size: 14px;
  width: 90%;
  background-color: $white;
}
#quiz_btn {
  cursor: pointer;
  background: #f9be02;
  margin:50px 20% 0px;
  padding: 8px;
  border-radius: 12px;
  text-align: center;
  color: $white;
  box-shadow: 0 9px 0 #d39803ab;
}
#quiz_btn.disabled  {
  background: #ccc;
  box-shadow: 0 9px 0 #bbb;
  opacity: 0.7;
}
#score_modal  {
  margin: 0 auto;
  transition:0.4s ease-out;
}
#score_modal.show {
  top:100px;
}
#score_modal > a  {
  display: block;
  text-decoration: none;
}
.quiz_title {
  font-size: 35px;
}
.chart_wrapper1 {
  width: 68%;
  height: 300px;
}
.chart_wrapper2 {
  width: 30%;
  height: 300px;
}
.chart {
  background-color: #303E58;
}
#scoreLabel {
  font-size: 20px;
}
.chart_wrapper2 {
  position: relative;
}
#learningLevel {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 5rem;
  color: $white;
}
#coution, .coution {
  width:80%;
  margin:0 auto;
  text-align: center;
  color:$white;
  font-size:16px;
}
.replay {
  margin-top: 15px;
}
#replay_btn {
  margin-right: 15px;
  padding: 3px 5px;
  color: $white;
  background-color: #F39C3F;
}
#replay_btn:hover {
  cursor: pointer;
  opacity: .7;
  transition: all linear 0.2s;
}
/*---------------
MISTAKE INDEX
----------------*/
.mistakes_wrapper {
  width: 75%;
  margin: auto;
}
/*---------------
QUIZ CATEGORY
----------------*/
.quiz_categories {
  width: 75%;
  margin: 50px auto;
  border-radius:5px;
}
.breadcrumbs_list {
  padding: 10px 0 20px 20px;
  font-size: 20px;
  li {
    display: inline-block;
    a {
      color: gray;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
.quiz_category_parent {
  background-color: $white;
}
.parent_name {
  font-size: 36px;
  font-weight: bold;
}
.category_new {
  position: relative;
  margin:10px ;
  text-align: right;
    span {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .category_create_btn, .quiz_create_btn {
    padding: 5px 10px;
    color: $white;
    background-color: $deep_blue;
  }
  .category_create_btn:hover, .quiz_create_btn:hover {
    color: $white;
  }
}
#category_edit_btn {
  font-size: 14px;
}
.quiz_category_list {
  background-color: $white;
}
.quiz_category {
  position: relative;
  border-top: solid 1px #e7e7e7;
  border-bottom: solid 1px #e7e7e7;
  font-size: 0;
  text-align: right;
  .drag_and_drop {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:10px;
    width: 75%;
    text-align: left;
    font-size: 24px;
  }
  .drag_and_drop:hover {
    cursor: pointer;
  }
  a, p {
    padding: 15px;
  }
  .edit_button {
    font-size: 20px;
    color: #388abd;
  }
  .edit_button:hover {
    color: $white;
    background-color: #388abd;
  }
  .delete_button {
    font-size: 20px;
    color: #F53240;
  }
  .delete_button:hover {
    color: $white;
    background-color: #F53240;
  }
}
.quiz_category:nth-child(odd), .quiz:nth-child(odd) {
  background-color: #e7e7e7;
}
.quiz_category .chart_button {
  font-size: 20px;
  color: #F39C3F;
}
.quiz_category .chart_button:hover {
  color: $white;
  background-color: #F39C3F;
  cursor: pointer;
}
.quiz_category .show_mistakes_button {
  font-size: 20px;
  color: #4BA75B;
}
.quiz_category .show_mistakes_button:hover {
  color: $white;
  background-color: #4BA75B;
}
.quiz_category i {
  margin-right: 3px;
}
.quiz_content {
  padding: 15px;
}
/*-----------
login
------------*/
.head {
  border-radius:12px;
  text-align:center;
  margin:20px 0;
}
.login_block li {
  width:40%;
  vertical-align: top;
}
.input input {
  font-size:70%;
  width:100%;
}
.action {
  margin:40px auto 0;
}
.social_btn {
  margin: 0 auto 15px;
  color: $white;
  border-radius:3px;
  text-align: center;
  a  {
    color: #fff;
  }
}
.twitter {
  background-color: #4AB3F4;
}
.facebook {
  background-color: #4167B2;
}
/*-------------------
communityページ
---------------------*/
.community {
  border:1px solid #555;
  border-radius:5px;
  padding:20px;
}
.community_wrapper {
  position: relative;
  background-color: $white;
  margin-bottom: 15px;
  padding: 10px;
  color: gray;
  
  img, .community_initial {
    height: 300px;
    width: 300px;
  }
  .community_initial {
    position: relative;
    vertical-align: top;

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform : translate(-50%,-50%);
      transform : translate(-50%,-50%);
      font-size: 160px;
      color: $white;
    }
  }
  .initial-red {
    background-color: $red;
  }
  .initial_blue {
    background-color: $blue;
  }
  .initial_green {
    background-color: $green;
  }
  .initial_orange {
    background-color: $orange;
  }
  .community_detail {
    vertical-align: top;
    width: 50%;
    padding-left: 10px;

    .community_name {
      font-size:24px;
      font-weight:bold;
    }
  }
}
.counts_status {
  color: $yellow;
}
.community_data {
  padding: 15px 10px 5px;

  img {
    height: 250px;
    width: 250px;
  }
}
#edit_community_btn {
  margin: 3px;
  padding: 5px 10px;
  color: $white;
  background-color:  $deep_blue;
}
/*-----------
article
------------*/
.main {
  margin-right: 320px;
}
.article {
  color: gray;
}
.article {
  margin-bottom:30px;
  background-color:$white;
  padding: 10px;

  h4 {
    padding: 0 0 3px 5px;
    border-bottom: solid 2px gray;
  }

  img {
    height: 200px;
    width: 200px;
  }
}
.article:hover {
  box-shadow: 0 10px 20px -5px rgba(0,0,0,.2);
  -moz-transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  transition: 0.2s linear;
}
.article_headline_wrapper {
  position: relative;
  height: 200px;
  width: 414px;
  vertical-align: top;
  padding: 20px 5px 5px 25px;

  .article_data {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.article_headline_wrapper .title {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.article_headline_wrapper .lead {
  font-size: 16px;
  margin-top: 10px;
}
.article_contents {
  background-color: $white;
  padding: 20px;
}
.top_img {
  height: 300px;
  width: 300px;
  margin: auto;
  object-fit: cover;
}
.inner_ranked_article {
  vertical-align: top;
}
.inner_article_content {
  padding: 10px;
}
.inner_article {
  padding: 5px;

  img {
    width: 100px;
    height: 100px;
  }
}
.inner_article:hover {
  box-shadow: 0 5px 10px -2px rgba(0,0,0,.2);
  -moz-transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  transition: 0.2s linear;
}
.inner_article_title {
  vertical-align: top;
  height: 100px;
  width: 175px;
  padding: 5px 5px 5px 10px;
}
.fa-sync-alt {
  color: $blue;
}
/*-------------------
talkページ
---------------------*/
#form_talk {
  background-color:$white;
}
form_talk li {
  display:inline-block;
}

/*-------------------
ARTICLE
---------------------*/

.index-wrapper a {
  text-decoration: none;
  color:black;
}
.article-index {
  background-color:$white;
  border-radius:10px;
  margin:60px 0 0;
  display:flex;
}
/*-------------------
ADMIN COMMON INDEX
---------------------*/
.admin_index_wrapper {
  width: 90%;
  margin: 0 auto;
  .admin_index_title {
    margin: 0 auto 10px;
    text-align: center;
  }
}
/*---------------
COMMON SEARCH & SORT
---------------*/
.search_wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  background-color: $white;
  margin-bottom: 20px;
  padding: 20px 20px 0px 20px;
}
.search, .tag_search, .category_search {
  width: 48%;
  background-color: $white;
  font-size: 14px;
  .date_search {
    display: flex;
    .form-group {
      width: 49%;
      margin: 1%;
    }
  }
}
.user_search, .talk_search, .event_search {
  margin-bottom: 5px;
  padding-bottom: 5px;
  background-color: $white;
}
.event_search .search {
  height: 270px;
  width: 44%;
}
.country_search {
  font-size: 14px;
}
.date_search .field {
  margin-bottom: 10px;
}
.form-group {
  margin-bottom: 10px;
}
.tags_section {
  overflow: scroll;
}
.search .inline_radio {
  margin-bottom: 10px;
  input {
    height: 100%;
  }
  .search_by_status {
    font-size: 16px;
  }
  input:checked + label {
    background: $deep_blue;
    font-weight: 500;
    color: $white;
  }
}
#clear_btn {
  font-size: 12px;
  color: $deep_blue;
}
#clear_btn:hover {
  cursor: pointer;
  text-decoration: underline;
}
.index_head {
  background-color: #303E58;
  color: #59D3EB;
}
.date_column {
  width: 15%;
}
.action_column {
  width: 12%;
}
.sort_link {
  display: block;
  color: #59D3EB;
}
.sort_link:hover {
  color: #59eb6d;
}

.index_table {
  margin: 15px 0 15px 0;
}
.create_btn_wrapper {
  margin-bottom: 15px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  background-color: $white;
  text-align: center;
}
table tr {
  border-bottom: solid 1px #eee;
  cursor: pointer;
}
.index_content:nth-child(odd) {
  background-color: #e7e7e7;
}
.quiz_category:nth-child(odd), .quiz:nth-child(odd) {
  background-color: #e7e7e7;
}
.index_content:hover {
  background-color: #d5eefaab;
}
.truncate_column {
  font-size: 12px;
}
.admin_create_btn {
  margin-right: 20px;
  padding: 5px 10px;
  color: $white;
  background-color: $deep_blue;
}
.admin_show_all_btn {
  color: gray;
}
.edit_btn {
  text-align: right;
}
.edit_btn, .delete_btn {
  padding: 5px;
}
.edit_btn {
  color: #388abd;
}
.edit_btn:hover {
  color: $white;
  background-color: #388abd;
}
.delete_btn {
  color: #F53240;
}
.delete_btn:hover {
  color: $white;
  background-color: #F53240;
}
.tags_section {
  height: 280px;
  overflow: scroll;
}
.status.fa-eye {
  color: #388abd;
}
.fa-eye-slash {
  color: #F53240;
}
