<% @countings.each do |counting| %>
  <div class="counting_chart_wrapper">
    <canvas id="<%= counting %>"></canvas>
    <p id="current_<%= counting %>_count" class="current_count bold"></p>
  </div>
<% end %>