<div class="lineChart">
<canvas id="myChart" width="400" height="400"></canvas>
</div>
<div class="doughnutChart">
  <canvas id="myChart2" width="400" height="400"></canvas>
  <p id="learningLevel">75</p>
</div>
<%= javascript_include_tag 'score_record.js' %>