<div class="date_search">
  <p class="bold">作成日</p>
  <div class="form-group date_form inline">
    <div class="field input-group date", id="creation_date_from", data-target-input="nearest">
      <%= f.text_field :created_at_gteq, class: "form-control datetimepicker-input creation_date_from", data: { target: "#creation_date_from" }, placeholder: "from..." %>
      <div class="input-group-append" data-target="#creation_date_from" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
      </div>
    </div>
  </div>
  <div class="form-group date_form inline">
    <div class="field input-group date", id="creation_date_to", data-target-input="nearest">
      <%= f.text_field :created_at_lteq, class: "form-control datetimepicker-input creation_date_to", data: { target: "#creation_date_to" }, placeholder: "to..." %>
      <div class="input-group-append" data-target="#creation_date_to" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
      </div>
    </div>
  </div>
</div>
