
<h1>Hi! welcome to japaepa.com!<br>
  Why don`t you Sign up japanepa.After Sign up , you can ...</h1>
<p>1. play all quiz in the japanepa.com!</p>
<p>2. save all socre-records and check your score in charts!</p>
<p>3. read all article and bookmark article!</p>
<p>4. talk with Friends learning japanese langauge!</p>

<%= link_to "LogIn", new_user_session_path  %>
<%= link_to "Register", new_user_registration_path %>