<div class="inline_radio">
  <div class="radio_button">
    <%= f.radio_button :status, :published, checked: "checked" %>
    <%= f.label :公開, class: "radio_status"%>
  </div>
  <div class="radio_button">
    <%= f.radio_button :status, :draft, class: "inline" %>
    <%= f.label :非公開, class: "radio_status" %>
  </div>
</div>