<div class="explain_system_wrapper">
  <p><span class="bold">"Japanepa Reviewing sytem"</span> is a program which makes learning and remembering japanese easy.<br></p>
  <p>
    This program is based on <a href="https://en.wikipedia.org/wiki/Learning_curve"  target="_blank" rel="noopener">the learing curve</a>
    (by <a href="https://en.wikipedia.org/wiki/Hermann_Ebbinghaus" target="_blank" rel="noopener">Hermann Ebbinghaus</a>),
    because it's a lot more efficient for learning or remembering.
  </p>
  <p>Once you play some quizzes, we notice when you have to review japanese quizzes on the following day.</p>
  <p class="bold">
    ・After one day<br>
    ・After three day<br>
    ・After one week<br>
    ・After two week<br>
    ・After one month<br>
  </p>
</div>