<div class="side_content">
  <h4><%= icon("fas","comments") %> Joined Communities</h4>
  <div class="inner_community_content joined_community_content">
    <%= render partial: "communities/joined_community", collection: @joined_communities, as: "community" %>
  </div>
</div>