<div class="side_content">
  <h4><%= icon("fas","users") %> Most User Joined</h4>
  <div class="inner_community_content top_3_content">
    <%= render partial: 'communities/side_community', collection: @user_joined_top_3, as: :community %>
  </div>
</div>
<div class="side_content">
  <h4><%= icon("fas","comments") %> Most Active</h4>
  <div class="inner_community_content top_3_content">
    <%= render partial: 'communities/side_community', collection: @active_top_3, as: :community %>
  </div>
</div>
