<% content_for(:html_title) { "Edit Community-#{@community.name}" } %>
<% breadcrumb :edit_community, @community %>
<div class="form_wrapper">
  <h1 class="center">Edit Community</h1>
  <%= render 'form', community: @community, action: "Update" %>
</div>