<h1>community index</h1>
<div class="section_wrapper">
  <div class="main_section inline">
    <div id="community_index">
      <%= render partial: 'community', collection: @communities, as: :community %>
    </div>
  </div>
  <div class="side_section inline">
    <%= render partial: 'side_section' %>
  </div>
</div>
