<% content_for(:html_title) { "Communitiy Form" } %>
<% breadcrumb :new_community, @community %>
<div class="form_wrapper">
  <h1 class="center">Create Community</h1>
  <%= render partial: 'form', locals: { community: @community } %>
</div>
<%= javascript_include_tag "community" %>