<div id="flash">
<% if flash[:notice] %>
    <p class="flash_icon"><%= icon("far", "laugh") %></p>
    <p class="flash_message"><%= flash[:notice] %></p>
<% elsif flash[:alert] %>
    <p class="flash_icon"><%= icon("far", "dizzy") %></p>
    <p class="flash_message"><%= flash[:alert] %></p>
<% end %>
</div>