<%= link_to "Japanepa.com","/",id:"logo" %>
<ul>
<li><img class="present_img" src="https://kukuhana.s3-ap-northeast-1.amazonaws.com/new_icon-min.png" />
</li>
<li><img class="present_img" src="https://kukuhana.s3-ap-northeast-1.amazonaws.com/quiz_icon-min.png" />
</li>
</ul>