<div id="modalBg" class="modalBg"></div>
<div class="modalWrapper">
  <div class="modalContents" id="modal"></div>
  <div class="modalContents hidden" id="LoginModal"><%= render "logIn" %></div>
  <div id="closeModal" class="closeModal">×</div>
</div>