
<div id="pop_up">
  <div> 
    <h1>Hi ! welcome to japaepa.com!
      Why don`t you Sign up japanepa.After Sign up , you can ...</h1>
      <p> 1. play all quiz in the japanepa.com!</p>
      <p>2. save all socre-records and check your score in charts!</p>
      <p>3. read all article and bookmark article!</p>
      <p>4. talk with Friends learning japanes langauge!</p>
    </div>
    <div >
       <div class="redBtn link">
          <h1 class="text-center">Quiz</h1>
          <%= link_to "SignUp",new_user_registration_path %>
        </div> 
        <div class="redBtn link">
          <h1 class="text-center">Quiz</h1>
          <%= link_to "LogIn",new_user_session_path %>
        </div> 
    </div>
    </div>
<div>