<header class=" navbar navbar-fix-top navbar-inverse">
    <div class="container">
        <%= link_to "JapaNepa" ,"#",id:"logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "log in " ,"#" %></li>
            <li><%= link_to "profile" ,"#" %></li>
            </ul>
        </nav>
    </div>
</header>